.previewer-block {
    width: 1000px;
    height: 600px;
    border: #00675C	 solid 3px;
    background-color: rgba(0,103,92, .1);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
    box-shadow:  10px 10px 10px 1px rgba(0,0,0, 0.50); 
    font-size: 18px;
    .title-bar {
        display: flex;
        flex-direction: row;
        height: 30px;
        background-color: rgba(0,103,92, .5);
        border-bottom: #00675C solid 2px;
        align-items: center;
        padding-left: 10px;
        // padding-right:870px;
        padding-top: 2px;
        justify-content:space-between;
        font-weight: bold;
        p {
            transform: translateY(-10%);
        }
    }
    .window-logo {
        width: 20px;
        height: 25px;
        img {
            width: fit-content;
        }
    }
}